<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Content</title>
</head>
<body>
    <center>
        <img src="/public/images/INEDIT_OASIS_-_STOP_CRYING_YOUR_HEART_OUT_live_great_version.gif" alt="">
        <h1 style="color: pink;">FIGURE SECTION</h1>
        <p>I borrowed alot of resources and used it with my own knowledge, not all codes are mine!</p>
    </center>
</body>
</html>